<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".scp" mimeType="application/scp" />
            <mimeMap fileExtension=".s3mb" mimeType="application/s3mb" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Methods" value="GET,POST,OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type,api_key,Authorization,soapaction" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
